a {
    color: black !important;
    text-decoration: initial;
}

body {
    font-family: Arial,Helvetica,sans-serif;
}

#content {
    margin: 2em 3em 3em 2em;
}

#goallist {
    width: 75%;
    margin-top: 2em;
}

div[class^='finance_goal'] {
    margin: 1em 1em 1em 1em;
    padding: 1em 1em 1em 1em;
}

.goal_description {
    margin-left: .25em;
    font-style: italic;
}

.goal_bar {
    width: 85%;
    height: 30px;
    background: #c7c7c7;
    border-radius: 0px 10px 10px 0px;
    margin-top: 3px;
    float: left;
    overflow: hidden;
}

.goal_progress {
    float: left;
    width: 16%;
    height: 30px;
    background: #003300;
    z-index: 333;
}

.goal_detail {
    font-size: 2em;
    padding: .1em .5em .1em .3em;
}

.goal_summary {
    font-size: 0.7em;
    font-weight: bold;
    padding-left: 1.3em;
}

.goal_end {
    float: right;
}

.highlight {
    background-color: #ebe6fa;
}